@model PaginatedList<aukcjapl.Models.Lista>

@{
    ViewData["Title"] = "Index";
}

<h2>Oferty</h2>

@foreach(var lista in Model)
{
   <div class="container" style="background-color: rgba(130, 100, 133, 0.8); margin-top:40px; margin-bottom: 40px; padding: 20px; border-radius:15px;">
       <div class="row">
            <div class="col col-xs-6 cols-lg-5">
                <img src="\Obrazy\@lista.Obraz" style="max-width: 300px; max-height: 300px"/>
            </div>
            <div class="col col-xs-6 cols-lg-7">
                <h5><a asp-action="Details" asp-route-id="@lista.Id" style="color: black;">@lista.Tytul</a></h5>
                <div>@lista.Opis</div>
                <div>Aktualna cena: $@lista.Cena.ToString("N2")</div>
                <div>Wystawione przez: @lista.Uzytkownik.Email</div>
            </div>
        </div>

   </div>
}
@if (!Model.Any())
{
    <p>Brak ofert</p>
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="d-flex justify-content-center">
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <div class="btn" style="cursor: default">
        Page @Model.PageIndex of @Model.TotalPages
    </div>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>